header {
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    text-align:left;
    width:100%;
    padding: 10px;
}
nav ul {
    text-align: right;
    color: white;
    list-style-type: none;
    padding: 10px;
    top: 0;
    position: right;
}
li {
    display: inline;
    margin-left: 20px;
    color: white;
}
body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: rgb(46, 165, 86);
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}